/build
/cover/
.coverage
/debian/*.debhelper
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/python3-wmfmariadbpy/
/debian/python3-wmfmariadbpy-remote/
/debian/*.substvars
/debian/tmp/
/debian/wmfmariadbpy/
/debian/wmfmariadbpy-admin/
/debian/wmfmariadbpy-common/
/*.egg-info
/.idea/
/.mypy_cache/
/.pybuild/
__pycache__
/reports
/.tox/
/venv/
/.vscode/
/wmfmariadbpy/test/integration_env/cache/*
